@import "styles/colors.scss";

.liquidityContainer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin: auto;
  max-width: 700px;
  height: calc(100vh - 220px);
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "leftColumn . rightColumn"
    "messageRow messageRow messageRow"
    "secondRow secondRow secondRow"
    "thirdRow thirdRow thirdRow";

  .header {
    grid-area: header;
    margin-bottom: 20px;

    .triangle {
      transform: translateY(-13px);
    }

    .title {
      position: relative; // for triangle z-index to work
    }
  }

  .leftColumn {
    grid-area: leftColumn;
    margin-bottom: 38px;
    padding-bottom: 15px;

    .heading {
      margin-bottom: 16px;
    }

    .body {
      padding-left: 8px;
      .dataGroup {
        label,
        .value {
          display: inline-block;
        }

        margin-bottom: 6px;
      }
      .assets {
        img {
          width: 15px;
          margin-right: 4px;
          position: relative;
          top: 2px;
        }
        div:not(:last-child) {
          margin-bottom: 6px;
        }
      }
    }
  }

  .rightColumn {
    grid-area: rightColumn;
    margin-bottom: 0;
    background-color: transparent;
    .table {
      display: grid;
      margin-bottom: 16px;
      grid-template-columns: auto auto auto auto;
      grid-template-rows: auto;

      .cell {
        border-bottom: $section-border;
        padding-top: 11px;
        padding-bottom: 11px;
        min-height: 24px;

        input#primeAmount,
        input#wethAmount {
          width: 90px;
          text-align: right;
        }
      }

      // header cells
      .cell:nth-child(-n + 4) {
        border-top: $section-border;
      }

      .cell:nth-child(4n + 1) {
        border-left: $section-border;
        padding-left: 20px;
        padding-right: 10px;
        input[type="checkbox"] {
          width: 12px;
        }
      }

      .cell:nth-child(4n + 2) {
        min-width: 135px;

        img {
          width: 15px;
          margin-right: 6px;
          position: relative;
          top: 2px;
        }

        button.unlock {
          margin-left: 4px;
        }
      }

      // 3rd column
      .cell:nth-child(4n + 3) {
        text-align: center;
      }

      // 3rd column not including the header
      .cell:nth-child(4n - 1) {
        :not(.heading) {
          position: relative;
          top: 1px;
        }
      }

      .cell:nth-child(4n) {
        border-right: $section-border;
        text-align: right;
        padding-right: 20px;
        min-width: 173px;
        white-space: nowrap;
      }

      .cell:first-child {
        border-top-left-radius: $section-border-radius;
      }

      .cell:last-child {
        border-bottom-right-radius: $section-border-radius;
      }

      .cell:nth-child(4) {
        border-top-right-radius: $section-border-radius;
      }
      .cell:nth-last-child(4) {
        border-bottom-left-radius: $section-border-radius;
      }
    }

    .bPrimeAmount {
      display: flex;
      padding: 11px 20px;
      align-items: center;
      height: 20px;

      .label {
        flex-grow: 2;
      }
      .amount {
        text-align: right;
        white-space: nowrap;

        .value,
        .label {
          display: inline-block;
        }
      }
      input {
        width: 90px;
        text-align: right;
      }
    }
  }

  .messageRow {
    grid-area: messageRow;
    padding: 20px;

    .liquidityMessage {
      .icon {
        display: inline-block;

        img {
          width: 16px;
          margin-right: 7px;
          position: relative;
          top: 2px;
        }
      }
    }

    .body {
      display: inline-block;
    }
  }

  .secondRow {
    grid-area: secondRow;
    text-align: center;
    margin-bottom: 20px;

    button {
      width: 100%;
    }
  }

  .thirdRow {
    grid-area: thirdRow;
    text-align: center;
    &.back img {
      margin-right: 6px;
      width: 16px;
      position: relative;
      top: 2px;
    }
  }
}

@media screen and (max-width: 900px) {
  .liquidityContainer {
    margin-left: auto;
    margin-right: auto;
    height: auto;

    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
      "header"
      "leftColumn"
      "rightColumn"
      "messageRow"
      "secondRow"
      "thirdRow";

    .header {
      text-align: center;
    }

    .leftColumn {
      text-align: center;
      max-width: 160px;
      margin-left: auto;
      margin-right: auto;
    }

    .rightColumn {
      margin-bottom: 18px;

      .table .cell {
        &.heading.heading3 {
          white-space: unset;
        }
        input {
          max-width: 74px;
        }
      }
      .table .cell:nth-child(4n) {
        min-width: unset;
      }

      .table .cell:nth-child(4n + 2) {
        min-width: unset;
      }

      .bPrimeAmount {
        input {
          width: 55px;
        }
      }
    }
  }
}
