@import "styles/colors.scss";
.dashboardContainer {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 40px;

  .button1,
  .button2,
  .button3 {
    display: inline-block;
    margin: auto;
  }

  > div:not(:last-child) {
    margin-right: 26px;
  }

  .prepare,
  .contribute,
  .learnmore,
  .farming {
    text-align: left;
    margin-bottom: 25px;
    min-width: 290px;
    max-width: 290px;

    .moreinfo {
      display: flex;
      align-items: center;

      .icon {
        flex-shrink: 2;
        padding-right: 10px;
        img {
          height: 16px;
          position: relative;
          top: 2px;
        }
      }

      .message {
        flex-grow: 2;
      }
    }

    .inputButtonGroup {
      text-align: left;
      display: block;
      .inputGroup {
        display: inline-block;
        label {
          display: block;
        }
        input {
          margin-right: 6px;
        }
      }
    }

    .section.middle .value {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 6px;
      font-family: "Cera Pro";
    }
  }

  .learnmore {
    border-top: 4px solid $color-lightblue;
    padding-top: 30px;
    .image {
      text-align: center;

      img {
        width: 265px;
      }
    }

    a {
      text-decoration: underline;
    }

    > div {
      margin-bottom: 16px;
    }

    .moreinfo {
      margin-bottom: 28px;
    }
  }
  .prepare {
    .inputButtonGroup {
      label {
        margin-bottom: 4px;
      }
    }
    .inputButtonGroup:first-of-type {
      margin-bottom: 16px;
    }
  }
  .contribute {
    .liquidityButtons {
      display: flex;
      flex-direction: column;

      button {
        width: 150px;
      }

      > div:first-of-type {
        margin-bottom: 12px;
      }
    }
  }
  .farming {
    .stakingButtons {
      display: flex;
      flex-direction: column;

      button {
        width: 180px;
      }

      > div:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .dashboardContainer {
    flex-wrap: wrap;
    > div:not(:last-child),
    > div:last-child {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
