@import "styles/colors.scss";
.pools {
  .subtitle {
    margin-bottom: 20px;
  }
  .body {
    .poolButtons {
      display: flex;
      justify-content: flex-start;
      .pool {
        max-width: 220px;
        min-width: 220px;
        margin-bottom: 30px;
        cursor: pointer;

        .poolButton {
          padding-right: 10px;
          padding-left: 14px;
          padding-top: 2px;
          padding-bottom: 2px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 12px;

          > .icon {
            width: 23px;
            position: relative;
            top: 1px;
          }
        }
        > .description {
          font-size: 11px;
          padding-left: 6px;
        }
      }
    }

    .poolRows {
      .poolRow {
        padding: 30px 20px;
        border-top: 1px solid #eeeeee;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: auto;
        column-gap: 30px;
        row-gap: 40px;
        grid-template-areas:
          "name name name name name name"
          "donutchart marketCap priceDelta1 priceDelta2 priceDelta3 addLiquidity"
          "donutchart price assets assets assets addLiquidity";

        .priceDelta1,
        .priceDelta2,
        .priceDelta3 {
          .poolDataValue {
            &.negative {
              color: $color-red;
            }
          }
        }

        .poolDataHeader {
          padding-bottom: 6px;
          border-bottom: 2px solid #1ee0fc;
          margin-bottom: 8px;
          font-weight: bold;
          font-family: "Cera Pro";
        }
        > .name {
          grid-area: name;
          padding-bottom: 16px;
          font-family: "Cera Pro";
          font-weight: bold;
        }
        .donutchart {
          grid-area: donutchart;
          width: 130px;
          position: relative;
          top: 1px;
        }
        .marketCap {
          grid-area: marketCap;
        }
        .priceDelta1 {
          grid-area: priceDelta1;
        }
        .priceDelta2 {
          grid-area: priceDelta2;
        }
        .priceDelta3 {
          grid-area: priceDelta3;
        }
        .chart {
          grid-area: chart;
        }
        .addLiquidity {
          grid-area: addLiquidity;
        }
        .price {
          grid-area: price;
          .poolDataValue {
            font-weight: bold;
          }
        }
        .assets {
          grid-area: assets;

          .poolDataHeader {
            border-bottom: 2px solid transparent;
          }

          > .tokens {
            display: flex;
            > .token {
              display: flex;
              align-items: center;
              margin-right: 8px;
              font-size: 11px;

              .icon {
                margin-right: 8px;

                img {
                  width: 20px;
                }
              }

              .symbol {
                margin-right: 4px;
              }
            }
          }
        }
      }

      .poolRow:last-child {
        border-bottom: 1px solid #eeeeee;
        margin-bottom: 40px;
      }
    }
    .share {
      text-align: center;
      margin: auto;
    }
  }
}
