@import "styles/colors.scss";
.primeToken {
  .topSection {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
      "firstRow mmButton"
      "secondRow mmButton";
    align-items: center;
    margin-bottom: 40px;

    .firstRow {
      grid-area: firstRow;
      align-items: center;
      display: flex;
      margin-bottom: 20px;
      .logo {
        width: 96px;
        margin-right: 16px;
      }
      .title {
        font-family: "Cera Pro";
        font-size: 52px;
        line-height: 56px;
      }
    }

    .mmButton {
      grid-area: mmButton;

      button {
        width: 245px;
        padding: 8px 30px;
        white-space: normal;
        display: flex;
        align-items: center;
        margin-left: auto;
        img {
          margin-right: 7px;
        }
      }
    }

    .secondRow {
      grid-area: secondRow;
      font-size: 21px;
      line-height: 25px;
      color: $color-light-purple;
    }
  }

  .blobs {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto;
    column-gap: 5%;
    row-gap: 20px;
    margin-bottom: 40px;

    .blob {
      font-family: "Cera Pro";
      box-shadow: 3px 3px 8px #00000029;
      border-radius: 20px;
      color: $color-white;
      text-align: center;
      padding: 30px;

      .title {
        font-size: 27px;
        line-height: 56px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 6px solid $color-lightblue;
        white-space: nowrap;
      }

      .body {
        padding-bottom: 20px;
        border-bottom: 6px solid $color-lightblue;
      }

      &.supply {
        background-color: $color-bluegreen;
        > .body {
          font-size: 42px;
          line-height: 48px;
        }
      }
      &.staked {
        background-color: #8668fc;
        > .body {
          font-size: 27px;
          line-height: 33px;
          display: flex;
          justify-content: space-between;
        }
      }
      &.price {
        background-color: #ae5cff;
        > .body {
          font-size: 42px;
          line-height: 48px;
        }
      }
    }

    .description {
      font-size: 15px;
      line-height: 25px;
    }
  }

  .buttons {
    text-align: center;
    padding: 30px;
  }
}
