@import "styles/colors.scss";
.appWrapper {
  display: grid;
  grid-template-columns: 190px 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "logo header"
    "sidebar mainContent"
    "footer footer";
  height: 100%;

  .logo {
    grid-area: logo;
    background-color: $color-black;
    align-items: center;
    // just for vertical alignment of the logo
    display: flex;
    justify-content: center;

    img {
      margin-right: 10px;
    }
  }

  .appHeader {
    grid-area: header;
    text-align: right;
    display: flex;
    align-items: center;
    border-bottom: 2px solid $color-white;
    background-color: #eeeeee;
    z-index: 10000; // so everything will scroll under it
    height: 76px;

    .networkfeedback {
      color: $color-white;
      margin-left: 10px;
      text-align: left;
      .testnet {
        color: $color-red;
      }
    }

    .connectButton {
      flex-grow: 2;
      padding-right: 20px;
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

  .sidebar {
    grid-area: sidebar;
    padding-top: 20px;

    a.item {
      display: block;
      margin-bottom: 6px;
      padding: 14px 20px;

      &.active,
      &:hover {
        background-color: #9478ff;
        border-right: 6px solid #694ae2;
      }
    }
  }

  .mainContent {
    grid-area: mainContent;
    background-color: $color-white;
    color: $color-black;
    padding: 20px;
  }

  .appFooter {
    grid-area: footer;
    display: flex;
    align-items: center;
    padding: 16px;
    border-top: 2px solid $color-white;
    max-height: 28px;

    img {
      width: 28px;
      margin-right: 14px;
    }
    .text {
      font-size: 10px;
      display: inline-block;
    }
  }
}
